<launch>
    <arg name="bag_file" default="/home/bibin/Documents/dataset/udacity/udacity_drive/2016-11-07-17-34-27.bag"/>
    <arg name="velodyne_config" default="/home/bibin/catkin_ws/src/velodyne/velodyne_pointcloud/params/VLP16db.yaml"/>
    <arg name="rviz_config" default="-d /home/erian/.rviz/pcl.rviz" />

      <!-- start nodelet manager and driver nodelets -->
  <include file="$(find velodyne_driver)/launch/nodelet_manager.launch" />
  <!-- start cloud nodelet -->
  <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet.launch">
      <arg name="calibration" value="$(arg velodyne_config)"/>
  </include>

  <node name="bag_player" pkg="rosbag" type="play" output="screen" args=" --clock $(arg bag_file) --pause"/>
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="$(arg rviz_config)" />

  <node name="passthrough_pcl" pkg="pcl_ros_node" type="pcl_ros_node" output="screen"/>

</launch>
